In [1]:
import sys
sys.path.append('../')

from hamiltonians import Hamiltonian
from qnute_params import QNUTE_params as Params
from qnute_output import QNUTE_output as Output
from qnute import qnute

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from qiskit import QuantumCircuit
from qiskit import Aer
from qiskit.quantum_info import Statevector
from qiskit.visualization import plot_histogram

In [2]:
H = Hamiltonian(
    hm_list = [ [ [3], [1.0], [0] ] ],
    lattice_dim=1,
    lattice_bound=2
)
params = Params(H)
params.load_hamiltonian_params(D=1)
params.set_run_params(
    dt=0.1, delta=0.1,
    N=10,
    num_shots=0,
    backend=None,
    init_sv=Statevector(np.sqrt(np.array([0.25,0.25, 0.25, 0.25],dtype=complex))),
    objective_meas_list=[ 
        [ [1,3], [0] ]
    ]
)

output = qnute(params)

Performing Hamiltonian precalculations...
	Calculating Unitary Domains... Done
	Calculating Required Pauli Measurements... Done
Performing initial measurements:... Done
Starting QNUTE Iterations:
Iteration 1... Done -- Iteration time = 0.00 seconds
Iteration 2... Done -- Iteration time = 0.00 seconds
Iteration 3... Done -- Iteration time = 0.00 seconds
Iteration 4... Done -- Iteration time = 0.00 seconds
Iteration 5... Done -- Iteration time = 0.00 seconds
Iteration 6... Done -- Iteration time = 0.00 seconds
Iteration 7... Done -- Iteration time = 0.00 seconds
Iteration 8... Done -- Iteration time = 0.00 seconds
Iteration 9... Done -- Iteration time = 0.00 seconds
Iteration 10... Done -- Iteration time = 0.00 seconds

In [3]:
output.a_list

[[array([ 0.        ,  0.        , -0.95238095,  0.        ]), [0], False],
 [array([ 0.        ,  0.        , -0.91793886,  0.        ]), [0], False],
 [array([ 0.        ,  0.        , -0.85580411,  0.        ]), [0], False],
 [array([ 0.        ,  0.        , -0.77509064,  0.        ]), [0], False],
 [array([ 0.        ,  0.        , -0.68544051,  0.        ]), [0], False],
 [array([ 0.        ,  0.        , -0.59490633,  0.        ]), [0], False],
 [array([ 0.        ,  0.        , -0.50906234,  0.        ]), [0], False],
 [array([ 0.        ,  0.        , -0.43109115,  0.        ]), [0], False],
 [array([ 0.        ,  0.        , -0.36233759,  0.        ]), [0], False],
 [array([ 0.        ,  0.        , -0.30293804,  0.        ]), [0], False]]

In [4]:
output.c_list

[1.0,
 1.01875672904181,
 1.0358958585811568,
 1.0505817449637151,
 1.0624879447121227,
 1.071714396664907,
 1.078616777791025,
 1.0836454185265947,
 1.087238550544672,
 1.089770454643646]

In [5]:
output.measurements

{'X_0': array([1.        , 0.98191421, 0.93085013, 0.85501088, 0.76468589,
        0.66944816, 0.57653734, 0.49050745, 0.41364476, 0.34663957,
        0.28920721]),
 'Z_0': array([0.        , 0.18932636, 0.36540115, 0.51861001, 0.64440316,
        0.74285874, 0.81707077, 0.87143697, 0.91043833, 0.93799822,
        0.95726627])}

In [6]:
meas = pd.DataFrame(output.measurements)

In [7]:
meas

         X_0       Z_0
0   1.000000  0.000000
1   0.981914  0.189326
2   0.930850  0.365401
3   0.855011  0.518610
4   0.764686  0.644403
5   0.669448  0.742859
6   0.576537  0.817071
7   0.490507  0.871437
8   0.413645  0.910438
9   0.346640  0.937998
10  0.289207  0.957266

In [39]:
psis_r = pd.DataFrame(np.real(output.svs))
psis_r

           0         1         2         3
0   0.500000  0.500000  0.500000  0.500000
1   0.545281  0.450187  0.545281  0.450187
2   0.584252  0.398309  0.584252  0.398309
3   0.616159  0.346911  0.616159  0.346911
4   0.641171  0.298160  0.641171  0.298160
5   0.660087  0.253545  0.660087  0.253545
6   0.673994  0.213851  0.673994  0.213851
7   0.684002  0.179278  0.684002  0.179278
8   0.691093  0.149634  0.691093  0.149634
9   0.696060  0.124501  0.696060  0.124501
10  0.699512  0.103360  0.699512  0.103360

In [40]:
psis_i = pd.DataFrame(np.imag(output.svs))
psis_i

      0    1    2    3
0   0.0  0.0  0.0  0.0
1   0.0  0.0  0.0  0.0
2   0.0  0.0  0.0  0.0
3   0.0  0.0  0.0  0.0
4   0.0  0.0  0.0  0.0
5   0.0  0.0  0.0  0.0
6   0.0  0.0  0.0  0.0
7   0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0
9   0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0

In [44]:
psis_r.to_csv('psi_r.csv',index=False,header=False)
psis_i.to_csv('psi_i.csv',index=False,header=False)
rdf = pd.read_csv('psi_r.csv',header=None)
idf = pd.read_csv('psi_i.csv',header=None)
sv = rdf.to_numpy() + 1j*idf.to_numpy()
sv

array([[0.5       +0.j, 0.5       +0.j, 0.5       +0.j, 0.5       +0.j],
       [0.5452812 +0.j, 0.45018708+0.j, 0.5452812 +0.j, 0.45018708+0.j],
       [0.5842519 +0.j, 0.39830856+0.j, 0.5842519 +0.j, 0.39830856+0.j],
       [0.61615947+0.j, 0.34691136+0.j, 0.61615947+0.j, 0.34691136+0.j],
       [0.64117142+0.j, 0.29815969+0.j, 0.64117142+0.j, 0.29815969+0.j],
       [0.66008687+0.j, 0.25354547+0.j, 0.66008687+0.j, 0.25354547+0.j],
       [0.67399383+0.j, 0.21385112+0.j, 0.67399383+0.j, 0.21385112+0.j],
       [0.68400236+0.j, 0.17927842+0.j, 0.68400236+0.j, 0.17927842+0.j],
       [0.69109303+0.j, 0.14963426+0.j, 0.69109303+0.j, 0.14963426+0.j],
       [0.69605999+0.j, 0.12450061+0.j, 0.69605999+0.j, 0.12450061+0.j],
       [0.69951162+0.j, 0.1033604 +0.j, 0.69951162+0.j, 0.1033604 +0.j]])

In [16]:
c = pd.DataFrame(output.c_list)

In [17]:
c

          0
0  1.000000
1  1.018757
2  1.035896
3  1.050582
4  1.062488
5  1.071714
6  1.078617
7  1.083645
8  1.087239
9  1.089770

In [22]:
df = pd.DataFrame(output.a_list)
df

                                        0    1      2
0    [0.0, 0.0, -0.9523809523809523, 0.0]  [0]  False
1     [0.0, 0.0, -0.917938855752117, 0.0]  [0]  False
2    [0.0, 0.0, -0.8558041092314163, 0.0]  [0]  False
3    [0.0, 0.0, -0.7750906391504044, 0.0]  [0]  False
4    [0.0, 0.0, -0.6854405067932269, 0.0]  [0]  False
5    [0.0, 0.0, -0.5949063253182735, 0.0]  [0]  False
6    [0.0, 0.0, -0.5090623397100965, 0.0]  [0]  False
7    [0.0, 0.0, -0.4310911506159645, 0.0]  [0]  False
8   [0.0, 0.0, -0.36233758763239166, 0.0]  [0]  False
9    [0.0, 0.0, -0.3029380426355297, 0.0]  [0]  False
10                                 [0, 1]  [0]   True

In [28]:
df = df.rename(columns={0:'a', 1:'Qubit Domain', 2:'Reduced Dimension'})

In [29]:
df.to_csv('a_list.csv',index=False)

In [30]:
pd.read_csv('a_list.csv')

,a,Qubit Domain,Reduced Dimension
0,[ 0. 0. -0.95238095 0. ],[0],False
1,[ 0. 0. -0.91793886 0. ],[0],False
2,[ 0. 0. -0.85580411 0. ],[0],False
3,[ 0. 0. -0.77509064 0. ],[0],False
4,[ 0. 0. -0.68544051 0. ],[0],False
5,[ 0. 0. -0.59490633 0. ],[0],False
6,[ 0. 0. -0.50906234 0. ],[0],False
7,[ 0. 0. -0.43109115 0. ],[0],False
8,[ 0. 0. -0.36233759 0. ],[0],False
9,[ 0. 0. -0.30293804 0. ],[0],False

In [35]:
psi_df = pd.read_csv('psi.csv',header=None)

In [37]:
psi_df

,0,1,2,3
0,(0.5+0j),(0.5+0j),(0.5+0j),(0.5+0j)
1,(0.5452812014198474+0j),(0.4501870791148407+0j),(0.5452812014198474+0j),(0.4501870791148407+0j)
2,(0.5842518999702386+0j),(0.3983085588521214+0j),(0.5842518999702386+0j),(0.3983085588521214+0j)
3,(0.6161594741117957+0j),(0.3469113581452957+0j),(0.6161594741117957+0j),(0.3469113581452957+0j)
4,(0.6411714154926893+0j),(0.29815969277959375+0j),(0.6411714154926893+0j),(0.29815969277959375+0j)
5,(0.6600868714686736+0j),(0.25354547489205426+0j),(0.6600868714686736+0j),(0.25354547489205426+0j)
6,(0.6739938311092193+0j),(0.21385111887139852+0j),(0.6739938311092193+0j),(0.21385111887139852+0j)
7,(0.6840023640416796+0j),(0.17927841833419328+0j),(0.6840023640416796+0j),(0.17927841833419328+0j)
8,(0.6910930290947281+0j),(0.14963425539337233+0j),(0.6910930290947281+0j),(0.14963425539337233+0j)
9,(0.6960599913074825+0j),(0.1245006102933875+0j),(0.6960599913074825+0j),(0.1245006102933875+0j)
10,(0.6995116193513004+0j),(0.10336040235018577+0j),(0.6995116193513004+0j),(0.10336040235018577+0j)

In [36]:
psi_df.to_numpy()

array([['(0.5+0j)', '(0.5+0j)', '(0.5+0j)', '(0.5+0j)'],
       ['(0.5452812014198474+0j)', '(0.4501870791148407+0j)',
        '(0.5452812014198474+0j)', '(0.4501870791148407+0j)'],
       ['(0.5842518999702386+0j)', '(0.3983085588521214+0j)',
        '(0.5842518999702386+0j)', '(0.3983085588521214+0j)'],
       ['(0.6161594741117957+0j)', '(0.3469113581452957+0j)',
        '(0.6161594741117957+0j)', '(0.3469113581452957+0j)'],
       ['(0.6411714154926893+0j)', '(0.29815969277959375+0j)',
        '(0.6411714154926893+0j)', '(0.29815969277959375+0j)'],
       ['(0.6600868714686736+0j)', '(0.25354547489205426+0j)',
        '(0.6600868714686736+0j)', '(0.25354547489205426+0j)'],
       ['(0.6739938311092193+0j)', '(0.21385111887139852+0j)',
        '(0.6739938311092193+0j)', '(0.21385111887139852+0j)'],
       ['(0.6840023640416796+0j)', '(0.17927841833419328+0j)',
        '(0.6840023640416796+0j)', '(0.17927841833419328+0j)'],
       ['(0.6910930290947281+0j)', '(0.14963425539337233+0j)',
        '(0.6910930290947281+0j)', '(0.14963425539337233+0j)'],
       ['(0.6960599913074825+0j)', '(0.1245006102933875+0j)',
        '(0.6960599913074825+0j)', '(0.1245006102933875+0j)'],
       ['(0.6995116193513004+0j)', '(0.10336040235018577+0j)',
        '(0.6995116193513004+0j)', '(0.10336040235018577+0j)']],
      dtype=object)